doctype 5
html
  head
    title Results of palestine
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    results = iso_codes
    block content
    
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/raphael-min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/kartograph.min.js')
    script(src='javascripts/mymap.js')
    script
      var data = !{JSON.stringify(iso_codes)};
      var map = new MyMap(data);
      var options = {
        width: 575,
        height: 310,
        map_options:  {zoom:1, padding:-10}
      }
      map.initMap('#map','assets/world_test.svg', options);
      
     
   
      
    
    